<p id="notice"><%= notice %></p>

<p>
  <b>Money:</b>
  <%= @item.money %>
</p>

<p>
  <b>Memo:</b>
  <%= @item.memo %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
